@import "./fonts";
@import "./variables";
$fa-font-path : "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

body{
    margin: 0;
}
header{
    nav{
        background-color: #363B47;
        display: flex;
        div{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            h1{
                color: aliceblue;
                font-size: 30px;
                cursor: pointer;
            }
        }
        ul{
            flex: 2;
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-left: 150px;
            
            li{
                
                margin: 0px 25px;
                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: #d8d8d8;
                    
                }
            }
        }
    }
    .banner{
        img{
            width: 100%;
            height: 450px;
        }
    }
    .intro{
        padding: 4%;
        background-color: #E8E6E0;
        color: #7B8591;
        font-size: 30px;
        text-align: center;
        p{
            margin: 0;
            padding-bottom: 25px;
        }
        p span:first-of-type{
            background-color: #26A2CC;
            color: aliceblue;
        }
        p span:last-of-type{
            color: #414141;
        }
        p span:nth-of-type(2){
            color: #26A2CC;
        }
    }
}
// section card
                
//faire des variables pour la color qui utilise "color: #414141;" car "p span et div h4 l'utilise"
section{
    display: flex;
    background-color: #EFEFF1;
    height: 100vh;
    padding-bottom: 100px;
    .container{
        margin: 0 15%;
        .card{
            display: flex;
            // background-color: #E2E0E0;
            margin: 50px 0px;
            div{
                background-color: #E2E0E0;
                text-align: center;
                margin: 15px;
                border-radius: 8px;
                padding-bottom: 50px;
                h4{                             
                    color: #414141;
                }
                span{
                    color: #26A2CC;
                }
            }
        }
        .textAndCards{
            display: flex;
            .text{
                padding-right: 100px;
                h2{
                    color: #414141;
                }
                p:first-of-type{
                    color: #B1AEB0;
                }
                p:last-of-type{
                    color: #3e3e3e;
                    margin-bottom: 10%;
                }
                a{
                    color: #EFEFF1;
                    text-decoration: none;
                    background-color: #26A2CC;
                    border-radius: 6px;
                    padding: 15px;
                }
            }
            // faire variable pour cette couleur car header et .content lutilise "background-color: #363B47"
            .threeCards{
                display: flex;
                div{
                    padding: 0px 3px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    img{
                        width: 230px;
                        height: 150px;
                    }
                    .content{
                        padding:10px 20px;
                        text-align: center;
                        background-color: #363B47;
                        h3{
                            margin-top: 0;
                            color: #EFEFF1;
                        }
                        p{
                            color: #B1AEB0;
                        }
                    }
                }
            }
        }
    }
}

// footer
footer{
    background-color: #3676BB;
    text-align: center;
    .footer1{
        padding-top: 50px ;
        .container{
            margin: 0 30%;
            h2,p:nth-of-type(1){
            color: #EFEFF1;
            }
            h2{
            margin-top: 0;
            }
            ul{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            align-self: center;
            li{
                list-style-type: none;
                margin-top: 20px;
                a{
                    text-decoration: none;
                    color: #B1AEB0;
                    padding:0 20px;
                }
            }
            }
        }
        div:last-of-type{
            background-color: #363B47;
            p{
                color: #7B8591;
                margin-bottom: 0;
                padding: 20px 0;
            }
        }
        
    }
}